<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nester Interface</title>
        <link rel="stylesheet" type="text/css" href='{{ url_for('static', filename='index.css') }}' />
    </head>
    <body>
        <h1>Nesting service</h1>
        <h2>Find nesting</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.csrf_token() }}
            {% for field in form if field.name != "csrf_token" and field.name != "submit" %}
                <div class="form-field">
                    <p class="form-field__description">{{ field.label() }}</p>
                    <div>{{ field }}
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

            <div class="form-field">
                <p class="form-field__description">Upload DXF files</p>
                <input type="file" name="file[]" multiple="">
            </div>

            <button type="submit" id="submit-button" class="btn btn-primary">Submit</button>
        </form>

    </body>
</html>
